@model IDSM.Model.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {
    *@<tr>
        <td>
            @Html.DisplayFor(model => model.CreatorId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>

        </td>
    </tr>
@*}*@

</table>
