@using IDSM.Helpers
@model IDSM.Model.ViewModels.ActiveTeamsViewModel
@{
    ViewBag.Title = "ViewPlayers";
}
        

<h3>List of your currently active games</h3>
<div style="float:left; width:100%;">
        <p>
             @(Model.ActiveTeams
                              .Each(@<a href="#" class="buttonId currentplayer" data-userteamid="@item.UserTeamId" data-footballclub="" data-searchstring="">@item.GameName</a>)
                              .Else(
                                  @<div class="playerRow">
                                       <b>No active games</b>
                                   </div>
                              )
                   )
        </p>
</div>
<hr/>

<h3>You are currently viewing your team for the game: @Model.TeamOverView.GameName</h3>
<br/>


<div id="leftcol">
    <div id="chosenplayers">
        @{ Html.RenderPartial("chosenplayers", Model.TeamOverView); }
    </div>
    @if ((Model.TeamOverView.GameCurrentOrderPosition == Model.TeamOverView.UserTeamOrderPosition) && !Model.TeamOverView.HasEnded)
    {
        <div id="searchform">
            @{ Html.RenderPartial("searchform", Model.TeamOverView); }
        </div>
        <div id="playerlist">
            @{ Html.RenderPartial("playerlist", Model.TeamOverView); }
        </div>
    }else if(!Model.TeamOverView.HasEnded)
    {
        <h3>Wait till next turn to choose next player</h3>
    }else
    {
        <h3>@Model.TeamOverView.AddedPlayerMessage</h3>
    }
</div>

<div id="chat">
    <h3>CHTA</h3>
    @{ Html.RenderPartial("chat", Model.TeamOverView.Banters); } 
</div>

<div id="banterform">
        @{ Html.RenderPartial("banter", Model.TeamOverView); }
    </div>
<div id="banterlist">
    <div style="float: right; width: 50%;">  
        @{ Html.RenderPartial("banterlist", Model.TeamOverView.Banters); }
    </div>        
</div>



@if(!Model.TeamOverView.HasEnded)
{
<script type="text/javascript">
    /*var returnSelectTeam = function () {
        debugger;
        $.ajax({
            type: 'POST',
            url: '/ViewPlayers/TeamOverView',
            data: $("#filterPlayers").serialize(),
            success: function (data) {
                $('#teampartial').empty();
                $('#teampartial').append(data);
            }
        });
    };*/

    var returnTeam = function (link) {
        debugger;
        var userTeamId = $(link).attr('data-userteamid');
        var footballClub = $(link).attr('data-footballclub');
        var searchString = $(link).attr('data-searchstring');
        $.ajax({
            type: 'POST',
            url: '/ViewPlayers/TeamOverView',
            data: {
                userTeamId: userTeamId,
                footballClub: footballClub,
                searchString: searchString
            },
            success: function (data) {
                $('#teampartial').empty();
                $('#teampartial').append(data);
            }
        });
    };


    $('.buttonId').click(function () {
        returnTeam(this);
    });
/*$('#filterPlayers').submit(function () {
        returnSelectTeam();
    });*/
</script>
    }
