@model IDSM.Model.ViewModels.TeamOverViewViewModel
@using IDSM.Helpers


@if ((Model.GameCurrentOrderPosition == Model.UserTeamOrderPosition) && !Model.HasEnded)
{
    <h3>It's your turn - add a player:</h3>
        
    using (Ajax.BeginForm("TeamOverView", "ViewPlayers", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "playerlist",
        InsertionMode = InsertionMode.Replace
    }))
    {
    <p> 
        @Html.DropDownListFor(x => x.Clubs, new SelectList(Model.Clubs, "Value", "Text"), "All")
        Name: @Html.TextBox("searchString") 
        <input type="hidden" name="userTeamID" value="@Model.UserTeamId" />
        <input type="hidden" name="gameID" value="@Model.GameId" />
        <input type="submit" id="filter" value="Filter" />
    </p>
    }
}
else if (!Model.HasEnded)
{
    <h3>Wait till next turn to choose next player</h3>
}
else
{
    <h3>@Model.AddedPlayerMessage</h3>
}
